/*
* Nav 
 */

.navbar {
    text-transform: uppercase;
}

.navbar .is-dark {
    background-color: #444;
}


/* 
* Footer
 */

.footer a {
    margin-bottom: 15px;
    display: inline-block;
    color: #444
}


/* 
* Bulma Override
 */

.input .button {
    border-radius: 0px;
}